<h1>POST request received</h1>

 <table>
  <tr>
    <th>Parameter</th>
    <th>Value</th>
  </tr>
	{{#each data}}
	<tr>
		<td>{{this.parameter}}</td>
		<td>{{this.value}}</td>
	</tr>
	{{/each}}
</table>

<table>
	<tr>
		<th>Parameter</th>
		<th>Value</th>
	</tr>
	{{#each data2}}
	<tr>
		<td>{{this.parameter}}</td>
		<td>{{this.value}}</td>
	</tr>
	{{/each}}
</table> 
